// Custom Variables
$colours: ("primary":  #ded3bf, "secondary": #818794, "text": #262626, "details": #b02e0c);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Playfair+Display:wght@400;500;600&family=Spartan:wght@200;300;400;500;600;700&display=swap');

$titles: 'Spartan', sans-serif;
$paragraphs: 'Lato', sans-serif;
$extra: 'Playfair Display', serif;


/* Solid Colours */
$english-lavender: #a6808cff;
$eerie-black: #262626ff;
$laurel-green: #acbfa4ff;
$chinese-red: #b02e0cff;
$gold: #b1740fff;


$laurel-green: #acbfa4ff;
$beiz: #ded3bf;
$lavender: #818794;
$rosybrown: #9d998e;



// Imports
@import "./partials/_layout.scss";
@import "./partials/_nav.scss";
@import "./partials/_typography.scss";
@import "./partials/_home.scss";