nav {
  width: 100%;
  animation-name: fade-in;

  & ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    right: 0;
    top: 180px;
    width: 100%;
    height: 350px;
    justify-content: space-evenly;
    background-color: map-get($colours, "primary");
    transform: translateX(100%);
    transition: transform 0.4s ease-in;
    z-index: 1;
  }

  & li {
    list-style: none;
    opacity: 0;
  }

  & a {
    text-decoration: none;
    font-size: 1.8rem;
    color: map-get($colours, "text");
  }
}


#burgerBtn {
  display: block;
  cursor: pointer;
  font-size: 2.2rem;
  position: absolute;
  color: map-get($colours, "text");
  right: 1rem;
  top: 7rem;
  z-index: 2;
}

.nav-visible {
  transform: translateX(0%);
}





@keyframes fade-in {
  0% {opacity: 0;
      transform: translateX(150px);
  }

  100% {opacity: 1;
      transform: translateX(0px);
  }
}


.login-container, .cart {
  position: absolute;
  top: 0;
  right: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  height: 40px;
  border-radius: 0px 0px 3px 3px;
  padding: 0 10px;
  
  & a {
    font-family: $titles;
    color: map-get($colours, "text");
    padding: 5px;
  }

  & i {
    color: map-get($colours, "text");
    padding: 5px;
  }

  & #loggedUser {
    display: none;
  }
}

.cart {
  right: 1rem;
  font-size: 1.4rem;
}

.search {
  position: relative;
  background-color: map-get($colours, "secondary");
  padding: 7px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  & input {
    text-align: center;
    width: 30%;
    border-radius: 10px;
    border: 0;
    height: 25px;
  } 

  & i {
    margin-left: 5px;
    font-size: 1.2rem;
    color: map-get($colours, "primary");
  }
}





/*  --  Desktop -- */
@media only screen and (min-width: 850px) {

  #burgerBtn {
    display: none;
  }

  .login-container {

      #loggedUser {
        display: block;
    }
  }

  nav {
    position: relative;
  
    & ul {
      width: 80%;
      padding-bottom: 10px;
      margin: 0 auto;
      position: relative;
      display: flex;
      height: 20px;
      top: 0;
      transform: none;
      transition: none;
      flex-direction: row;
      text-align: center;
      justify-content: center;
      border: none;
      z-index: 1;
    }
  
    & li {
      opacity: 1;
      margin-right: 30px;
      padding-right: 30px;
      border-right: 1px solid map-get($colours, "text");
    }
  
    & li:last-child {
      border-right: 0;
    }
  
    & a {
      text-decoration: none;
      color: map-get($colours, "text");
      font-size: 1rem;
    }
  
    & a:hover {
      border-bottom: 2px solid map-get($colours, "text");
    }
  }
  
  .login-container, .cart {
    position: absolute;
    top: 0;
    right: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    height: 40px;
    border-radius: 0px 0px 3px 3px;
    padding: 0 10px;
    
    & a {
      font-family: $titles;
      color: map-get($colours, "text");
      padding: 5px;
    }
  
    & i {
      color: map-get($colours, "text");
      padding: 5px;
    }
  }
  
  .cart {
    right: 6rem;
    font-size: 1.4rem;
  }

  .current {
    border-bottom: 2px solid map-get($colours, "text");
  }

}